up           ICON      "bitmaps/up.ico"
down         ICON      "bitmaps/down.ico"
mondrian     ICON      "bitmaps/mondrian.ico"
connect      ICON      "bitmaps/connect.ico"

avviaping    BITMAP    "bitmaps/avviaping.bmp"
bloccaping   BITMAP    "bitmaps/bloccaping.bmp"
avviaping_d  BITMAP    "bitmaps/avviaping_dim.bmp"
bloccaping_d BITMAP    "bitmaps/bloccaping_dim.bmp"
slider       BITMAP    "bitmaps/slider.bmp"
esci         BITMAP    "bitmaps/esci.bmp"
opzioni      BITMAP    "bitmaps/opzioni.bmp"
grigio       BITMAP    "bitmaps/grigio.bmp"
log          BITMAP    "bitmaps/log.bmp"
autore       BITMAP    "bitmaps/autore.bmp"
cache        BITMAP    "bitmaps/cache.bmp"
statistiche  BITMAP    "bitmaps/statistiche.bmp"
avviaping_b  BITMAP    "bitmaps/avviaping_bianco.bmp"
bloccaping_b BITMAP    "bitmaps/bloccaping_bianco.bmp"
opzioni_b    BITMAP    "bitmaps/opzioni_bianco.bmp"
cache_b      BITMAP    "bitmaps/cache_bianco.bmp"
grigio_b     BITMAP    "bitmaps/grigio_bianco.bmp"
log_b        BITMAP    "bitmaps/log_bianco.bmp"
wiztest      BITMAP    "bitmaps/wiztest.bmp"
wiztest2     BITMAP    "bitmaps/wiztest2.bmp"
taskbar_b    BITMAP    "bitmaps/taskbar_bianco.bmp"
minimizza    BITMAP    "bitmaps/minimizza.bmp"
dock         BITMAP    "bitmaps/dock.bmp"
sorgenti     BITMAP    "bitmaps/sorgenti.bmp"
commuta_b    BITMAP    "bitmaps/commutaping_bianco.bmp"
dock2        BITMAP    "bitmaps/dock2.bmp"
calcolatrice BITMAP    "bitmaps/calcolatrice.bmp"
connessioni  BITMAP    "bitmaps/connessioni.bmp"
stato        BITMAP    "bitmaps/stato.bmp"
orologio     BITMAP    "bitmaps/orologio.bmp"



reset        BITMAP    "bitmaps/reset.bmp"
open         BITMAP    "bitmaps/open.bmp"
play         BITMAP    "bitmaps/play.bmp"
stop         BITMAP    "bitmaps/stop.bmp"
zoomin       BITMAP    "bitmaps/zoomin.bmp"
zoomout      BITMAP    "bitmaps/zoomout.bmp"
info         BITMAP    "bitmaps/info.bmp"
north        BITMAP    "bitmaps/north.bmp"
east         BITMAP    "bitmaps/east.bmp"
south        BITMAP    "bitmaps/south.bmp"
west         BITMAP    "bitmaps/west.bmp"
center       BITMAP    "bitmaps/center.bmp"
life         BITMAP    "bitmaps/life.bmp"


#include "wx/msw/wx.rc"
